@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema ATMs</h1>
    <p class="lead">Sistema que permite el control de requerimientos de ATMs'</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Requerimientos</h2>
        <p>
            Asigna y consulta el estado de los requerimientos recibidos.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona Requerimientos","Index","Requerimientos")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Citas</h2>
        <p>
            Envía correo a cliente confirmando la cita pactada.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Mail Cita", "Index", "Citas")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Usuarios</h2>
        <p>
            CRUD de usuarios.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona Usuarios", "Index", "Usuarios")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Perfiles</h2>
        <p>
            CRUD de perfiles.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona Perfiles", "Index", "Perfiles")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>ATMs</h2>
        <p>
            CRUD de atms.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona ATMs", "Index", "ATMs")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Clientes</h2>
        <p>
            CRUD de clientes.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona Clientes", "Index", "Clientes")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Locaciones</h2>
        <p>
            CRUD de locaciones.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona Locaciones", "Index", "Locaciones")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Mailing</h2>
        <p>
            Envía correo a cliente confirmando culminación de requerimiento.
        </p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Mail Conformidad", "Index", "Mailing")</li>
            </ul>
        </p>
    </div>
</div>